  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@200;300;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@1000&display=swap');
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #0a192f;
  }

  section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    background-color: #0a192f;
  }

  #header {
    margin-top: 30vh;
  }

  .hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform:translate(0);
  }

  #download {
    border: 1px solid #D3D3D3;
    color: #FFD700;
    
  }

  html {
  scroll-behavior: smooth;
  }

  #links{
    text-decoration: none;
    color: white;
  } 

  #links:hover{
    color: #FFD700;
    border-bottom: 1px solid #FFD700;
    cursor: pointer;
  }

  #socials {
    color: #D3D3D3;
    font-size: 35px;
  
  }
  #skill {
    font-size:50px; 
    color: #FFD700;
  }

  #skill-desc {
    font-size: 15px; 
    text-align: justify;
  }

  #project {
    font-size: 20px;
  }

  #project-desc {
    font-size: 15px; 
  }

  #socials:hover{
    color: #FFD700;
    cursor: pointer;
  }

  h1, h3{
    color: #D3D3D3;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
  }

  h3 {
  font-size: 25px;
  }
  .card{
    color: white;
    border: none;
    background-color: #0a192f;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  #cards {
  transition: transform.1s;
  }
  #cards:hover {
  transform: scale(1.1);
  cursor: pointer; 
  }
  .active {
    border-bottom:2px solid #FFD700;
  }
 
 .navbar-toggler {
  background-color:  #D3D3D3;
 }
 .navbar-nav {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #D3D3D3;
 }
  #socials {
    font-size: 25px;
  }
  #card1 {
    transition-delay: 100ms;
  }
  #card2 {
    transition-delay: 200ms;
  }
  #card3 {
    transition-delay: 300ms;
  }
  #card4 {
    transition-delay: 400ms;
  }
  #card5 {
    transition-delay: 500ms;
  }
  #card6 {
    transition-delay: 600ms;
  }

 #logo:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  cursor: pointer;
 }
 
 
 /* BUTTON JAVASCRIPT */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: #D3D3D3;
    cursor: pointer;
    border-radius: 4px;
    font-size: 35px;
    transition: 1s ease;
  }
    
  #myBtn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    cursor: pointer;
  }

  .btn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    cursor: pointer;
  }

  #loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a192f;
  }
    
  svg {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
    
  .stroke-still {
    stroke: #232323;
  }
    
  .stroke-animation {
    -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }
    
  @-webkit-keyframes stroke-spacing {
    0% {
    stroke-dasharray: 0 200;
    }
    45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
    }
    90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
    }
    100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
    }
}
    
  @keyframes stroke-spacing {
    0% {
    stroke-dasharray: 0 200;
    }
    45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
    }
    90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
    }
    100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
    }
  }
    
  @-webkit-keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
}
    
  @keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
  }
    
