  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@200;300;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@1000&display=swap');
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #0a192f;
  }

  section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    background-color: #0a192f;
  }

  .navbar-brand {
    font-size: 30px; 
    font-family: 'Nunito Sans', sans-serif; 
    color: #D3D3D3;
  }

  .title {
    font-size: 70px;
  }

  .title-text {
    font-size: 25px; 
    color: #D3D3D3;
  }
  
  .sec-title {
    font-size: 40px;
  }

  #header {
    margin-top: 25vh;
  }

  .hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform:translate(0);
  }

  #download {
    border: 1px solid #D3D3D3;
    color: #FFD700;
    
  }

  html {
  scroll-behavior: smooth;
  }

  #links{
    text-decoration: none;
    color: white;
  } 

  #links:hover{
    color: #FFD700;
    cursor: pointer;
  }

  #socials {
    color: #D3D3D3;
    font-size: 35px;
  
  }
  #skill {
    font-size:50px; 
    color: #FFD700;
  }

  #skill-desc {
    font-size: 15px; 
    text-align: justify;
  }

  #project {
    font-size: 20px;
  }

  #project-desc {
    font-size: 15px; 
  }

  #socials:hover{
    color: #FFD700;
    cursor: pointer;
  }

  h1, h3{
    color: #D3D3D3;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
  }

  h3 {
  font-size: 25px;
  }
  .card{
    color: white;
    border: none;
    background-color: #0a192f;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  #cards {
  transition: transform.1s;
  }
  #cards:hover {
  transform: scale(1.1);
  cursor: pointer; 
  }
  .active {
    border-bottom:2px solid #FFD700;
  }
 
 .navbar-toggler {
  background-color:  #D3D3D3;
 }
 .navbar-nav {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #D3D3D3;
 }
  #socials {
    font-size: 25px;
  }
  #card1 {
    transition-delay: 100ms;
  }
  #card2 {
    transition-delay: 200ms;
  }
  #card3 {
    transition-delay: 300ms;
  }
  #card4 {
    transition-delay: 400ms;
  }
  #card5 {
    transition-delay: 500ms;
  }
  #card6 {
    transition-delay: 600ms;
  }

 #logo:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  cursor: pointer;
 }
 
 
 /* BUTTON JAVASCRIPT */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: #D3D3D3;
    cursor: pointer;
    border-radius: 4px;
    font-size: 35px;
    transition: 1s ease;
  }
    
  #myBtn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    cursor: pointer;
    color: #FFD700;
  }

  .btn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    cursor: pointer;
  }

  #loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a192f;
  }
   
  .loader {
    position: relative;
    width:  48px;
    height: 48px;
    background: #FFD700;
    transform: rotateX(65deg) rotate(45deg);
    transform: perspective(200px) rotateX(65deg) rotate(45deg); 
    color: #fff;
    animation: layers1 1s linear infinite alternate;
  }
  .loader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    animation: layerTr 1s linear infinite alternate;
  }

  @keyframes layers1 {
    0% { box-shadow: 0px 0px 0 0px  }
   90% , 100% { box-shadow: 20px 20px 0 -4px  }
  }
  @keyframes layerTr {
    0% { transform:  translate(0, 0) scale(1) }
    100% {  transform: translate(-25px, -25px) scale(1) }
  }
      
  
