@import url('https://fonts.cdnfonts.com/css/franklin-gothic');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Libre+Baskerville&family=Libre+Franklin:wght@400;900&family=Open+Sans:ital,wght@1,800&family=Orbitron:wght@500&family=Playfair+Display:wght@900&family=Raleway:wght@100;600&family=Rowdies:wght@700&family=Rubik&family=Russo+One&family=Tilt+Warp&display=swap');

#ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
    color: yellow;
    font-family: 'Russo One', sans-serif;
  }
  
  #ml10 #text-wrapper {
    position: relative;
    display: inline-block;
    /* padding-top: 0.2em; */
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  #ml10 #letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }
         #cardTitle{
            font-size: 140px;
            letter-spacing: 5px;
            color: rgb(1, 0, 0);
            font-family: 'Russo One', sans-serif;
         }
         html {
         scroll-behavior: smooth;
            }
         
         
         #btn-download{
            /* width: 15vw; */
            padding: 8px;
            display: flex;
            justify-content: center;
            /* background-color: black; */
         }
         
         
         #socials{
           font-size: 30px;
           color: white;
         } 
         #socials:hover{
           background-color: yellow;
           color: black;
           padding: 10px auto;
         } 
         .footer {
            /* background-color: black; */
            color: white;
         }
         
        .tools{
        transition: transform.1s;
       }
       .tools:hover{
        transform: scale(1.1); 
         }
         #experience{
            float: left;
            margin-right: 2vw;
         }
         #cards{
            width: 30vw;
         }
         .sec-exp{
            padding-top: 70px ;
            padding-bottom: 70px;
            /* margin-bottom: 50px; */
         }
         .sec-tech{
            background-color: rgb(0, 0, 0);
            color: white;
            padding-top: 70px ;
            padding-bottom: 120px;
         }
         a{
            text-decoration: none;
            color: blue;
         }
         a:hover{
          text-decoration: underline;
       }
         .class-body1{
           
            width: 27vw;
            border: 1px solid  lightslategray;
            height: 25vh;
            box-shadow: 10px 10px 5px lightslategray;
            border-radius: 15px;
         }
         .work{
            padding-top: 70px ;
            padding-bottom: 70px;
         }
         #sec-t{
            text-align: center;
         }
         .card{
          border: none;
         }

         
  